.container {
  display: flex;
  flex-direction: row;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  width: 100px;
  border: solid 1px black;
  margin-left: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.sidebar-item {
  border-bottom: 1px solid black;
  z-index: 1;
  cursor: pointer;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.buttn {
  margin-top: 2px;
  margin-bottom: 2px;
}

.fileName {
  margin-left: 2px;
  cursor: pointer;
}

button {
  border: none;
  background-color: #fefefe;
  cursor: pointer;
}
